@mixin btn-colors($color) {
  background-color: $color;
  border-color: darken($color, 5%);

  &:hover {
    background-color: darken($color, 10%);
  }

  &.inverse {
    border-color: $color;
    background-color: transparent;
    color: $color;

    &:hover {
      background-color: $color;
      color: $white;
    }
  }
}

@mixin morphing($bgColor, $offset: 0s) {
  width: 15%;
  position: absolute;
  z-index: -1;
  height: 1%;
  background-color: $bgColor;
  //   animation-name: morph-animation;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-delay: $offset;
}

@keyframes morph-animation {
  0% {
    width: 15%;
  }
  20% {
    width: 45%;
  }
  30% {
    width: 5%;
  }
  40% {
    width: 65%;
  }
  50% {
    width: 24%;
  }
  60% {
    width: 38%;
  }
  70% {
    width: 75%;
  }
  80% {
    width: 23%;
  }
  90% {
    width: 88%;
  }
  100% {
    width: 15%;
  }
}

// Media Queries
$mobile-width: 300px;
$tablet-width: 767px;
$desktop-width: 1024px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
