@import 'variables';

.card-wrapper {
  .card {
    background-color: $primary-color;
    border: 0;
    padding: 10px;
    margin: 10px 0px;

    &-image {
      img {
        height: 250px;
      }
    }
  }
}
