@import 'variables';
@import 'mixins';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
  background-color: $primary-color;
  font-size: 1.3em;
}

a,
a:focus,
a:visited {
  color: $secondary-color;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $secondary-color;
  }
}

// General heading styles
@for $i from 1 through 5 {
  h#{6 - $i} {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: bold;
  }
}

// Increase heading size
@for $i from 1 through 5 {
  h#{6 - $i} {
    font-size: $i * 0.57em;
  }
}

.btn {
  border-radius: 50px;
  text-transform: uppercase;
  margin: 10px 0px 10px 5px;

  &.btn-primary {
    @include btn-colors($secondary-color-bold);
  }

  &.btn-secondary {
    @include btn-colors($secondary-color);
    color: $black;
  }
}

.navigation {
  padding: 20px 0px;
  text-align: center;
}

.main-header {
  padding: 50px 100px;

  @include mobile {
    padding: 20px 0px;
  }

  h1 {
    text-align: center;

    a {
      color: $white;
    }
  }

  .subtext {
    text-align: center;
  }
}

.morph {
  @include morphing($bgColor: $secondary-color-bold, $offset: -20s);
  width: 68%;
}

.morph2 {
  @include morphing($bgColor: $secondary-color, $offset: -5s);
  width: 40%;
}

.morph3 {
  @include morphing($bgColor: $primary-color-alt, $offset: 5s);
  width: 90%;
}

.validators {
  div {
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 50%;
      height: auto;
      display: block;
      margin: 0px auto;

      @include mobile {
        width: 100%;
      }
    }
  }

  h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.benefits {
  margin: 0px; // reset negative margin by bootstrap
  position: relative;

  &-card {
    background-color: $white;
    color: $black;
    padding: 0px;
    margin-bottom: 20px;
    border-top: 5px solid $secondary-color;

    &:nth-child(2) {
      border-color: $primary-color-alt;
    }

    &:nth-child(3) {
      border-color: $secondary-color-bold;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-icon {
    width: 100px;
    display: block;
    margin: -30px auto 0px auto;

    .icon-background {
      background-color: $secondary-color;
      padding: 5px;
      border-radius: 30px;
    }
  }

  &-description {
    text-align: center;
    padding: 20px;
  }

  svg {
    width: 100% !important;
  }
}
