@import 'variables';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
  background-color: $primary-color;
  font-size: 1.3em;
}

a,
a:focus,
a:visited {
  color: $secondary-color;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $secondary-color;
  }
}

// General heading styles
@for $i from 1 through 5 {
  h#{6 - $i} {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  }
}

// Increase heading size
@for $i from 1 through 5 {
  h#{6 - $i} {
    font-size: $i * 0.6em;
  }
}

.btn {
  border-radius: 50px;
  text-transform: uppercase;
  margin: 10px 0;

  &.btn-primary {
    background-color: $secondary-color-bold;
    border-color: darken($secondary-color-bold, 5%);
  }
}

.main-header {
  padding: 20px 0px;

  h1 {
    text-align: center;

    a {
      color: $white;
    }
  }

  .subtext {
    text-align: center;
  }
}
