$primary-color: #223079;
$primary-color-alt: #394480;

$secondary-color: #f7b30d;
$secondary-color-bold: #e42545;

$light-gray: #e2e2e2;
$dark-gray: rgb(68, 68, 68);

$white: #ffffff;
$black: #000000;
