@import 'variables';

.card-wrapper {
  .card {
    background-color: $primary-color;
    border: 0;
    padding: 10px;
    margin: 10px 0px;

    &-image {
      margin-bottom: 10px;
      
      img {
        height: auto;
        width: 100%;
      }
    }

    &-description {
      margin-bottom: 10px;
    }

    .read-more {
      padding-bottom: 20px;
      border-bottom: 2px solid $primary-color-alt;
    }
  }
}

.card {
  &-title {
    color: $primary-color-alt;
    font-weight: bold;
  }

  &-text {
    color: $primary-color;
  }

  &-body {
    color: $primary-color;
  }
}

.popover-header {
  color: $primary-color;
}
