@import 'variables';

.card-wrapper {
  .card {
    background-color: $primary-color;
    border: 0;
    padding: 10px;
    margin: 10px 0px;

    &-image {
      margin-bottom: 10px;
      position: relative;
      
      img {
        height: auto;
        width: 100%;
      }
    }

    &-description {
      margin-bottom: 10px;
    }

    .read-more {
      padding-bottom: 20px;
      border-bottom: 2px solid $primary-color-alt;
    }
  }
}

.popover-header {
  color: $primary-color;
}
